[Unit]
Description=Run Rvion management notification dispatcher every 15 seconds

[Timer]
OnBootSec=45s
OnUnitActiveSec=15s
AccuracySec=2s
Persistent=true

[Install]
WantedBy=timers.target
